* {
  margin: 0;
  padding: 0;
  block-size: boder-box;
  list-style: none;
}

/* styles.scss */
/* Variables */
/* Encabezado */
.header {
  background-color: #333;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar__menu li {
  margin-left: 10px;
}
.navbar__menu li a {
  color: #999;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
  }
  .navbar__menu li {
    margin: 5px 0;
  }
}
main .cajauno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
main .cajauno h1 {
  margin-bottom: 40px;
  font-size: 66px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main .cajauno p {
  font-size: 25px;
}
main .titulo-de-h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  margin: 30px;
}
main .contenedorpadre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
}
main .cajitas {
  background-color: #313131;
  color: white;
  width: 400px;
  height: 300px;
  margin: 10px 20px;
  border-color: black;
  border-radius: 6%;
  text-align: center;
  padding-top: 20px;
  box-shadow: 15px 10px 4px 2px rgba(32, 32, 32, 0.3);
  cursor: default;
  transition: all 400ms ease;
}
main .cajitas:hover {
  box-shadow: 20px 15px 8px 4px rgb(77, 65, 246);
  transform: translateY(-3%);
}

main .empresas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .empresas .colaboradores {
  margin: 50px 20px 10px;
  justify-content: space-around;
  width: 400px;
}

main .tituloDeNuestraComunidad {
  text-align: center;
  font-size: 40px;
}
main .parrafoPrincipal {
  margin: 50px;
  font-size: 150%;
}
main .subtitulo {
  text-align: center;
}
main .Contenedorderedes {
  display: flex;
  flex-direction: row;
}
main .Contenedorderedes .redes {
  margin: 50px 20px 10px 100px;
  justify-content: space-around;
  width: 400px;
}

.content h1 .logo {
  text-align: center;
  font-size: 3em;
}
.content .contact-wrapper {
  padding: 1em;
}
.content .contact-wrapper .contact-form {
  background: #ede9e9;
}
.content .contact-wrapper .contact-form form p {
  margin: 0;
  padding: 1em;
}
.content .contact-wrapper .contact-form form p button {
  background: #215ee4;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.content .contact-wrapper .contact-info {
  background: #313131;
  color: rgb(68, 68, 219);
}
.content .contact-wrapper .contact-info h4 {
  text-align: center;
  margin: 0 0 1rem 0;
}
.content .contact-wrapper .contact-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
.content .contact-wrapper .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  body {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
@media (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  header a {
    font-size: 12px;
  }
  main .cajauno p {
    text-align: center;
    font-size: 15px;
  }
  .contact-info {
    padding: 30px;
  }
  .contact-info ul {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .parrafoPrincipal p {
    font-size: 15px;
    text-align: center;
  }
  main .Contenedorderedes {
    flex-direction: column;
    justify-content: center;
  }
  main .Contenedorderedes img {
    width: 120px;
  }
  main .Contenedorderedes .redes {
    width: 0;
  }
}
@media (min-width: 700px) {
  body {
    padding: 0;
  }
}
footer {
  background-color: #313131;
  padding: 25px;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 25px;
}
footer a {
  color: white;
}
footer a:hover {
  color: lightblue;
  transition: all 0.3s ease-in;
}
footer .copyright {
  text-align: center;
  margin: 15px;
  font-size: 20px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
