main{
   h1 .tituloDeNuestraComunidad{
        text-align: center;
        font-size: 60px;
    }
    .parrafoPrincipal{
        margin: 50px ;
        font-size: 150%;
    }

    .Contenedorderedes{
        display: flex;
    flex-direction: row;

    .redes{
        margin: 50px 20px 10px 100px;
        justify-content: space-around;
        width: 400px;
    }
    }

    
}