/* styles.scss */

/* Variables */
$primary-color: #333;
$secondary-color: #999;

/* Encabezado */
.header {
  background-color: $primary-color;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  li {
    margin-left: 10px;

    a {
      color: $secondary-color;
      text-decoration: none;
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;

    li {
      margin: 5px 0;
    }
  }
}



