@media (max-width: 576px) { 

    /*header*/
  
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
  
    header a{
        font-size: 12px;
    }
  
  
    /*main*/
  
    .cajauno{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    /*footer*/
    .contenedorpadre1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 650px;
    }
  
    .info{
        margin: 10px;
    }
  }
  
  
  @media (min-width: 768px) {  }
  
  
  @media (min-width: 992px) {  }
  
  
  @media (min-width: 1200px) {  }
  
  
  @media (min-width: 1400px) {  }