
@media (max-width:576px){ 

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    header a{
        font-size: 12px;
        
    }

    main .cajauno{
        p{
            text-align: center;
            font-size: 15px;
        }
    }
    

    .contact-info{
        padding: 30px;

        ul{
            padding: 30px;
            display: flex;
            flex-direction: column;
        }

   
    }

    .parrafoPrincipal{
        p{
            font-size: 15px;
            text-align: center;
        }
    }

    main .Contenedorderedes{
        // background-color: red;
        flex-direction: column;
        justify-content: center;
    }

    main .Contenedorderedes .redes{
        width: 0;
    }
    
    }
  